

<body style='width:100%; height: 100%; background-repeat: no-repeat;background-size: cover;background-image: url("https://scontent-dfw1-1.xx.fbcdn.net/hphotos-xft1/v/t1.0-0/p417x417/12814422_10207103418078099_4822693195753642254_n.jpg?oh=dd60e999d8cff0f8f68170d0fffba5ba&oe=575992F6");'>
<div style="width: 100%; text-align: center;position : absolute;bottom : 30px;">
  <button> Browse </button>
  <button> Show History </button>
</div>

</body>

