<!--<h1>Google Maps Tut</h1>-->
<!--<div id="map-container">-->
  <!--<div id="map-canvas"></div>-->
<!--</div>-->

<!DOCTYPE html>
<html>
<head>
  <title>Simple Map</title>
  <meta name="viewport" content="initial-scale=1.0">
  <meta charset="utf-8">
  <style>
      html, body {
          height: 100%;
          margin: 0;
          padding: 0;
      }
      #map {
          height: 100%;
      }
  </style>
</head>
<body>
<div id="map"></div>
<button class="myButton"> <a href="/home"> Back</a> </button>

<script>
    var map;
    function initMap() {
        var myLatLng = {lat: 32.0630310, lng: 34.7716800};

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: myLatLng
        });

        var facebook_marker = new google.maps.Marker({
            position: myLatLng,
            map: map,
            title: 'Facebook'
        });
        var roomer_marker = new google.maps.Marker({
            position: {lat: 32.061984, lng: 34.773032},
            map: map,
            title: 'Roomer'
        });

        google.maps.event.addListener(facebook_marker, 'click', (function(facebook_marker) {
            return function() {

                var infowindow = new google.maps.InfoWindow();

                content_string = '<div>'+facebook_marker.title+'</div>'

                infowindow.setContent(content_string);
                infowindow.open(map, facebook_marker);


            }
        })(facebook_marker));

        google.maps.event.addListener(roomer_marker, 'click', (function(roomer_marker) {
            return function() {

                var infowindow = new google.maps.InfoWindow();

                content_string = '<div>'+roomer_marker.title+'</div>'

                infowindow.setContent(content_string);
                infowindow.open(map, roomer_marker);


            }
        })(roomer_marker));

    }

</script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAuoJauc0-56vozjheRYAhVbqwuI6aYgvQ&callback=initMap"
        async defer></script>
</body>
</html>